{% extends "base_generic.html" %}
{% block content %}
<h1> How To Use This Site</h1>

<div id='help_text'>
    <p> <strong>Using the quick calculator: </strong> To use the quick calculator
	feature, simply click on "Calculate" at the top of the page and enter the values
  into the boxes and click "Submit" at the bottom of the form.
	<ul>
		<li>
			Salary: The employee's expected salary
		</li>

		<li>
			Employee Cost: The expected cost of the benefit package for the employee
		</li>

		<li>
			Number of Dependents: The expected number of dependents for the employee
		</li>

		<li>
			Dependent Cost: The cost of benefits for each dependent
		</li>

		<li>
			Discount Percentage: The percentage of discount for an employee or dependent
		</li>

		<li>
			#Dependents eligible for discount: The number of dependents that qualify to
			recieve the discount
		</li>

		<li>
			Percent Paid by Employer: The percentage of the entire benefit package that
			the employer pays <em> after any discounts </em>
		</li>

		<li>
			Employee eligible for discount: Check this box if the <em>employee</em>
			qualifies for a discount
		</li>
	</ul>
	</p>

	<p> <strong> Access Existing Employee List:</strong> To access employees that are
	currently in the database, click "login" at the top of the page and enter your login
	credentials. After logging in, an "Employees" button will appear at the top of the
	page, click this button to access the list of employees associated with your
	company. Don't have login credentials? Contact us to purchase premium access to this
	site!
	</p>

	<p> <strong> Adding New Employees: </strong> Follow the instructions above to access
	the employee list, then click the link that says "click here to add new employee".
	Then simply enter the new employee's first name, last name, and salary and click the
	submit button below the form.
	</p>

  <p> <strong> Removing Employees: </strong> Follow the instructions below to access
  a specific employee's detail page, then click the "remove" button to remove the
  employee. Warning: once an employee is removed, it cannot be recovered, nor can the
  dependent information for that employee, use this feature carefully.

  <p> <strong> Searching For An Employee: </strong> Follow the instructions above to
	access the employee list, then enter the employee's name in the search box and click
	the search button below the box.

	<p> <strong> Viewing Employee Details: </strong> Follow the instructions above to
	access the employee list or for searching for an employee, then click the employee's
	name to view the details for that employee.

	<p> <strong> Modifying Employee Details: </strong> Follow the instructions above to
	views the employee details, then click the "Edit Employee" button.

	<p> <strong> Adding Dependents: </strong> There are two ways to add dependents.
	After adding a new employee, you will be directed to a page that will allow you
	to add dependents for that employee. To add dependents for an existing employee,
	follow the instructions above for viewing employee details, then click the "add
	dependent" button below the employee/dependent details.

	<p> <strong> Removing Dependents: </strong> Follow the instructions above for
	viewing employee details, and click the "remove" button <em>below</em> the
	dependent you want to remove. Warning: once a dependent is deleted, it cannot
  be recovered, use this feature carefully.

</div>

{% endblock %}

<!-- ex: set tabstop=2 expandtab: -->


