{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Employee List</h1>
  {% if employee_list %}
  <ul>
    {% for employee in employee_list %}
      <li>
        <a href="{{ employee.get_absolute_url }}">{{ employee.first_name }}</a> ({{employee.last_name}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Employees in the database.</p>
  {% endif %}
	<br></br>

	<a href="{% url 'add_new' %}">Click here to add a new employee</a>
	<br></br>

<form method="post" class="pure-form pure-form-aligned" action="{% url 'employee_search' %}">
    {% csrf_token %}
	<input id="full_name" type="text" name="full_name" value="Search By Full Name">
	<br></br>
    <input type="submit" value="Search">
</form>


{% endblock %}

