{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1> Details for Employee: {{employee.first_name.capitalize}} {{employee.last_name.capitalize}}</h1>
<h2> Company: {{company_name}}</h2>
<table  class= 'pure-table pure-table-horizontal'>
  <th> Description</th>
  <th> Result </th>
  <tbody>
    <tr>
      <td> Employee Name: </td>
      <td> {{employee.first_name.capitalize}} {{employee.last_name.capitalize}} </td>
    </tr>

    <tr>
      <td> Employee ID: </td>
      <td> {{employee.id}} </td>
    </tr>

    <tr>
      <td> Employee Salary: </td>
      <td> {{salary}} </td>
    </tr>

    <tr>
      <td> Total Benefit Cost: </td>
      <td> {{total_cost}} </td>
    </tr>

    <tr>
      <td> Employee Annual Deduction: </td>
      <td> {{deduction}} </td>
    </tr>

    <tr>
      <td> Deduction Per Paycheck: </td>
      <td> {{check_deduction}} </td>
    </tr>

    <tr>
      <td> Percentage Paid By Employer </td>
      <td> {{company_percent}} </td>
    </tr>

    <tr>
      <td> Employer Annual Cost: </td>
      <td> {{employer_cost}} </td>
    </tr>

  </tbody>
</table>

<button onclick="showForm()" class = "pure-button" id="detail_button" >Edit Employee</button>

<div id="modify" style="display: none;">
  <h3> Edit Employee Information </h3>
	<form method="POST" class="pure-form pure-form-aligned">
	  {% csrf_token %}
	  {{ form|crispy  }}
	  <button type="submit" class = "pure-button" id="detail_button" >Update Values</button>
	</form>
</div>

{% if employee.dependent_set.all  %}
  <h1> Dependents </h1>
  <table class='pure-table pure-table-horizontal'>
    <th> Name</th>
    <th> Birth Date </th>
    <th> Remove </th>
    {% for d in employee.dependent_set.all  %}
	    <tr>
        <td> Name: {{ d }}  </td>
		    <td>Birth Date: {{ d.birth_date }}</td>
        <td>
		      <form method="post" class="pure-form pure-form-aligned" action="{% url 'delete_dependent' %}">
			      {% csrf_token %}
			      <button type="submit" id='delete' value={{ d.pk }} name='delete' onclick="return confirm('Are you sure?')">Remove</button>
		      </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

<form method="get" class="pure-form pure-form-aligned" action="{% url 'dependents' %}">
  {% csrf_token %}
  <button type="submit" class = "pure-button" id="detail_button" >Add Dependent</button>
</form>

<br> </br>

<script>
function showForm() {
    var x = document.getElementById("modify");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
}
</script>
{% endblock %}
<!-- ex: set tabstop=2 expandtab: -->


